<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Scipion Cannabis Store</h5>
          <h4 class="card-title"> Lista de productos</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Sku
                </th>
                <th>
                  Nombre
                </th>
                <th>
                  Marca
                </th>
                <th>
                  Precio
                </th>
                <th>
                  Stock
                </th>
                <th>
                  Imagen
                </th>
                <th class="justify-content-between">
                  Acciones
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                  <td>
                    {{product.sku}}
                  </td>
                  <td>
                    {{product.name}}
                  </td>
                  <td>
                    {{product.brand}}
                  </td>
                  <td>
                    {{product.price}}
                  </td>
                  <td>
                    {{product.stock}}
                  </td>
                  <td>
                    <img class="imgView" [src]="product.image">
                  </td>
                  <td class="align-content-center">
                    <i class="far fa-edit"></i>
                    <i class="far fa-trash-alt"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
