<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Agregar Producto</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" name="name" [(ngModel)]="product.name" class="form-control" placeholder="Nombre producto" autofocus>
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label for="email">Marca</label>
                  <input type="text" [(ngModel)]="product.brand" class="form-control" placeholder="Marca producto" name="brand">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label for="email">Precio</label>
                  <input type="number" [(ngModel)]="product.price" min="0" class="form-control" placeholder="Precio producto" name="price">
                </div>
              </div>
              <div class="col-md-2 pl-1">
                <div class="form-group">
                  <label for="email">Stock</label>
                  <input type="number" [(ngModel)]="product.stock" min="0" class="form-control" placeholder="Cantidad" name="stock">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Imagen</label>
                  <input type="url" [(ngModel)]="product.image" class="form-control" placeholder="Link imagen" name="imagen">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Descripción corta</label>
                  <textarea [(ngModel)]="product.short_description" rows="2" cols="80" class="form-control" placeholder="Ingresa la descripción corta" name="short_description"></textarea>
                </div>
              </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Descripción</label>
                    <textarea [(ngModel)]="product.description" rows="4" cols="80" class="form-control" placeholder="Ingresa la descripción" name="description"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Información</label>
                    <textarea [(ngModel)]="product.information" rows="2" cols="80" class="form-control" placeholder="Ingresa la información" name="information"></textarea>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-primary btn-block" (click)="saveProduct()" >Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="https://hightimes.com/wp-content/uploads/2018/02/everything-need-know-marijuana-cannabis-hero.jpg">
        </div>
        <div class="card-body">
          <div class="author">
              <img class="avatar border-gray" [src]="product.image">
              <h5 class="title">{{product.name == '' ? 'Nombre producto': product.name}}</h5>
            <p class="description">
              {{product.brand == '' ? 'Nombre Marca': product.brand}}
            </p>
            <p class="description">
              Precio: {{product.price | currency: 'COP':true}} Stock: {{product.stock}}
            </p>
          </div>
          <hr>
          <p class="description text-center">
            {{product.short_description == '' ? 'Descripción corta': product.short_description}}
          </p>
          <hr>
          <p class="description text-center">
            {{product.information == '' ? 'Information': product.information}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
